

<div class="page text-warning ">
    <div class="row">
        <div class="col-md-8 pad-5">

            <div class="col-md-4 pad-5" ng-repeat="(key, symbol) in depth ">
                <div class="panel panel-default "  ng-class=" {'market-buy': settings.symbol[key].color} " >
                    <div class="panel-heading">
                        <h3 class="panel-title">{{key}}价格</h3>
                    </div>
                    <div class="panel-body pad-10 ">
                        <table class="table table-striped">
                            <th>平台</th>
                            <th>卖盘</th>
                            <th>买盘</th>
                            <tr ng-repeat="item in symbol">
                                <td>{{platform[item.platform].name}}</td>
                                <td>{{item._bids}}</td>
                                <td>{{item._asks}}</td>
                            </tr>
                            <tr ng-class="{'text-danger':profit[key]['surplus'].percent >= percent}">
                                <td >顺差：</td>
                                <td >{{profit[key]["surplus"].percent | number:2}}%</td>
                                <td >{{profit[key]["surplus"].money| number:2}}</td>
                            </tr>
                            <tr ng-class="{'text-danger':profit[key]['deficit'].percent >= percent}">
                                <td>逆差：</td>
                                <td>{{profit[key]["deficit"].percent | number:2}}%</td>
                                <td>{{profit[key]["deficit"].money| number:2}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4 np mt-10">

            <div class="panel panel-default mb-5">
                <div class="panel-heading pad-10">
					<div class="btn-group pull-right">
                        <a ng-click="message=[];" class="btn btn-default btn-sm">清空</a>
                    </div>
                    <h6>可交易的订单</h6>
                </div>
                <div class="panel-body pad-10">
                    <div data-slim-scroll data-scroll-height="213">

                        <table class="table table-striped" style="width:100%">
                            <th>模式</th>
                            <th>买价</th>
                            <th>卖价</th>
                            <th>数量</th>
                            <th>赢利</th>
                            <th>金钱</th>
							<th>操作</th>
                            <tr id="message" ng-repeat="(key, msg) in message" >

                                <td>{{msg.mode}}</td>
                                <td>{{msg.buy| number:2}}</td>
                                <td>{{msg.sell| number:2}}</td>
                                <td>{{msg.amount}}</td>
                                <td>{{msg.percent| number:2}}%</td>
                                <td>{{msg.money| number:2}}</td>
								<td><a ng-click="addTransaction(key);" class="btn btn-default btn-sm">交易</a></td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
			
 			<div class="panel panel-default mb-5">
                <div class="panel-heading pad-10">
					<div class="btn-group pull-right">
                        <a href="#" class="btn btn-default btn-sm">清空</a>
                    </div>
                    <h6>交易中订单</h6>
                </div>
                <div class="panel-body pad-10">
                    <div data-slim-scroll data-scroll-height="100">

                        <table class="table table-striped" style="width:100%">
                            <th>模式</th>
                            <th>买价</th>
                            <th>卖价</th>
                            <th>数量</th>
                            <th>赢利</th>
                            <th>金钱</th>
							<th>状态</th>
                            <tr  ng-repeat="(key, item) in transactionList" >

                                <td>{{item.mode}}</td>
                                <td>{{item.buy| number:2}}</td>
                                <td>{{item.sell| number:2}}</td>
                                <td>{{item.amount}}</td>
                                <td>{{item.percent| number:2}}%</td>
                                <td>{{item.money| number:2}}</td>
								<td ng-if="item.state==1">交易中</td>
								<td ng-if="item.state==2">交易中</td>
								<td ng-if="item.state==3">交易中</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
			
            <div class="panel panel-default  mb-5">
                <div class="panel-heading pad-10">
                    <div class="btn-group pull-right">
                        <a href="#" class="btn btn-default btn-sm">保存</a>
                    </div>
                    <h6>交易参数设置</h6>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">顺差</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="settings.surplus" placeholder="顺差"
                                           ng-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">逆差</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="settings.deficit" placeholder="逆差"
                                           ng-required="true">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">模式</label>
                                <div class="col-sm-8">
                                    <select class="form-control"
                                            ng-model="settings.mode"
                                            ng-options="sel.Id as sel.Name for sel in select.mode">
                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">下单</label>
                                <div class="col-sm-8">
                                    <select class="form-control"
                                            ng-model="settings.order"
                                            ng-options="sel.Id as sel.Name for sel in select.order">
                                    </select>

                                </div>
                            </div>
                        </div>

                    <form>
                </div>
            </div>

            <div class="panel panel-default mt-0">
                <div class="panel-heading pad-10">
                    <div class="btn-group pull-right">
                        <a href="#" class="btn btn-default btn-sm">保存</a>
                    </div>
                    <h6>币种参数设置</h6>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <table class="table table-striped" style="width:100%">
                            <th>币种</th>
                            <th>数量</th>
                            <th>交易费</th>
                            <th>转账费</th>

                            <tr ng-repeat="(key, item) in settings.symbol">
                                <td> {{key}}</td>
                                <td><input type="text" class="form-control" ng-model="settings.symbol[key].amount" placeholder="数量"
                                           ng-required="true"></td>
                                <td><input type="text" class="form-control" ng-model="settings.symbol[key].cost" placeholder="交易费"
                                           ng-required="true"></td>
                                <td><input type="text" class="form-control" ng-model="settings.symbol[key].fee" placeholder="转账费"
                                           ng-required="true"></td>


                            </tr>

                        </table>

                    <form>
                </div>
            </div>

        </div>


    </div>
</div>
<!-- Flot Chart Body End -->