<div class="page text-warning ">
    <div class="row">
        <div class="col-md-8 pad-5">
            <div data-slim-scroll data-scroll-height="{{height}}">
                <div ng-repeat="items in symbol.Items">
                    <div class="col-md-4 pad-5">
                        <div class="panel panel-default ">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{items.Symbol}}行情
                                    <div class="pull-right"> 预留区域</div>
                                </h3>
                            </div>
                            <div class="panel-body pad-10 ">
                                <table class="table">
                                    <tr style="background-color: #f9f9f9">
                                        <th>平台</th>
                                        <th class="text-right">买盘</th>
                                        <th class="text-right">卖盘</th>
                                    </tr>
                                    <tr ng-repeat="item in platform.Items">
                                        <td>{{item.Name}}</td>
                                        <td class="text-right"
                                            ng-class="{'down': depth[item.Id][items.Symbol].color.bids}"
                                            title="平台价格:{{depth[item.Id][items.Symbol].bids | number:4}}">
                                            {{depth[item.Id][items.Symbol]._bids | number:2}}
                                        </td>
                                        <td class="text-right"
                                            ng-class="{'up': depth[item.Id][items.Symbol].color.asks}"
                                            title="平台价格:{{depth[item.Id][items.Symbol].asks | number:4}}">
                                            {{depth[item.Id][items.Symbol]._asks | number:2}}
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4 np mt-10">
            <div data-slim-scroll data-scroll-height="{{height}}">

                <div class="panel panel-default  mb-5">
                    <div class="panel-body  pad-5">
                        <tabset>
                            <tab heading="利率排序" ng-click="active(0);">
                                <div class="col-md-12 pad-5">
                                    <div class="panel-body pad-5">
                                        <table class="table table-striped mb-5">
                                            <th width="15%">币种</th>
                                            <th  class="text-center"> 方向</th>
                                            <th width="15%" class="text-right" ng-click="chsrot();">利 率</th>
                                            <th width="15%" class="text-right">利润</th>
                                            <th width="15%" class="text-right">时间</th>
                                            <th width="15%" class="text-right">操作</th>
                                        </table>
                                        <div data-slim-scroll data-scroll-height="242">
                                            <table class="table table-striped">
                                                <tr ng-repeat="item in sortList | search:settings.Items.filter | orderBy :[sort]">
                                                    <td width="10%">{{item.symbol}}</td>
                                                    <td  class="text-center">{{item.platformA|arrayAttr:platform.Items:'Name'}}->{{item.platformB|arrayAttr:platform.Items:'Name'}}</td>
                                                    <td width="15%" class="text-right" ng-class="{'text-red' : item.percent>0, 'text-green':item.percent<0}"><strong>{{item.percent | number:2}}%</strong></td>
                                                    <td width="15%" class="text-right">{{item.money | number:2}}</td>
                                                    <td width="15%" class="text-right" title="{{item.timestamp  | date:'HH:mm:ss'}}"><span>{{item.msg}}</span></td>
                                                    <td width="15%" class="text-right"><a ng-click="addOrder(item.symbol, 0);" class="btn btn-default btn-sm">交易</a></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </tab>


                            <tab heading="基础设置" ng-click="active(1);">
                                <div class="pad-5" data-slim-scroll data-scroll-height="250">

                                    <div class="panel panel-default mb-5">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">交易</h3>
                                        </div>
                                        <div class="panel-body" style="background-color: #eef0f0">
                                            <form class="form-horizontal mt-10" role="form">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">模式</label>
                                                        <div class="col-sm-8">
                                                            <select class="form-control"
                                                                    ng-model="settings.Items.mode"
                                                                    ng-options="sel.Id as sel.Name for sel in select.mode">
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">下单</label>
                                                        <div class="col-sm-8">
                                                            <select class="form-control"
                                                                    ng-model="settings.Items.order"
                                                                    ng-options="sel.Id as sel.Name for sel in select.order">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">差值</label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group">
                                                                <input type="number" class="form-control"
                                                                       ng-model="settings.Items.surplus"
                                                                       placeholder="差值"
                                                                       ng-required="true">
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">时差</label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group">
                                                                <input type="number" class="form-control"
                                                                       ng-model="settings.Items.filter.expired"
                                                                       placeholder="过滤几秒前的数据"
                                                                       ng-required="false">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="panel panel-default mb-5">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">主站</h3>
                                        </div>
                                        <div class="panel-body" style="background-color: #eef0f0">
                                            <div class="col-md-4 pad-5" ng-repeat="item in platform.Items">
                                                <label class="ui-checkbox">
                                                    <input name="checkbox1" type="checkbox"  ng-model="settings.Items.filter.platformA[item.Id]"><span>{{item.Name}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default  mb-5">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">次站</h3>
                                        </div>
                                        <div class="panel-body" style="background-color: #eef0f0">
                                            <div class="col-md-4 pad-5" ng-repeat="item in platform.Items">
                                                <label class="ui-checkbox">
                                                    <input name="checkbox1" type="checkbox"  ng-model="settings.Items.filter.platformB[item.Id]"><span>{{item.Name}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">币种</h3>
                                        </div>
                                        <div class="panel-body" style="background-color: #eef0f0">
                                            <div class="col-md-4 pad-5" ng-repeat="item in symbol.Items">
                                                <label class="ui-checkbox">
                                                    <input name="checkbox1" type="checkbox"  ng-model="settings.Items.filter.symbol[item.Symbol]"><span>{{item.Symbol}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </tab>
                            <tab heading="扩展设置" ng-click="active(2);">
                                <form class="form-horizontal mt-10" role="form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">平台</label>
                                            <div class="col-sm-8">
                                                <select class="form-control"
                                                        ng-model="settings.Items.platform"
                                                        ng-options="sel.Id as sel.Name for sel in platform.Items">
                                                </select>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">汇率</label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input type="number" class="form-control"
                                                           ng-model="settings.Items.rate[settings.Items.platform]"
                                                           placeholder="汇率"
                                                           ng-required="true">
                                                    <span class="input-group-addon">汇率</span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                                <div class="panel-body pad-5">
                                    <table class="table table-striped mb-5">
                                        <th width="25%">{{platform.Items[settings.Items.platform-1].Name}}</th>
                                        <th width="25%" class="text-center">交易费</th>
                                        <th width="25%" class="text-center">转账费</th>
                                        <th width="25%" class="text-center">数量</th>
                                    </table>
                                    <div data-slim-scroll data-scroll-height="148">
                                        <form class="form-horizontal" role="form">
                                            <table class="table table-striped">
                                                <tr ng-repeat="(key, item) in settings.Items.symbol[settings.Items.platform]">
                                                    <td width="25%"> {{key}}</td>
                                                    <td width="25%">
                                                        <div class="input-group">
                                                            <input type="number" class="form-control"
                                                                   ng-model="item.fee"
                                                                   placeholder="交易费"
                                                                   ng-required="true">
                                                        </div>
                                                    </td>
                                                    <td width="25%">
                                                        <input type="number" class="form-control"
                                                               ng-model="item.transfer"
                                                               placeholder="转账费"
                                                               ng-required="true">
                                                    </td>
                                                    <td width="25%">
                                                        <input type="number" class="form-control" ng-model="item.amount"
                                                               placeholder="交易数量"
                                                               ng-required="true">
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>
                                </div>

                            </tab>


                            <tab heading="资产状况" ng-click="active(4);">

                                <div class="panel panel-default  mb-5">
                                    <div class="panel-body pad-5">
                                        <table class="table table-striped mb-5">
                                            <th width="30%">币种</th>
                                            <th width="30%">可用/冻结（火）</th>
                                            <th width="30%">可用/冻结（韩）</th>
                                            <th width="10%">操作</th>
                                        </table>

                                        <div data-slim-scroll data-scroll-height="196">

                                            <table class="table table-striped">
                                                <tr ng-if="balance.Items.HuobiTrade['Money']>0 || balance.Items.HuobiFrozen['Money']>0 || balance.Items.BithumbTrade['Money']>0 || balance.Items.BithumbFrozen['Money']>0">
                                                    <td width="30%">现金(CNY)</td>
                                                    <td width="30%">{{balance.Items.HuobiTrade["Money"] *
                                                        settings.Items.rate[1] | number:2}} /
                                                        {{balance.Items.HuobiFrozen["Money"] * settings.Items.rate[1] |
                                                        number:2}}
                                                    </td>
                                                    <td width="30%">{{balance.Items.BithumbTrade["Money"] *
                                                        settings.Items.rate[2] | number:2}} /
                                                        {{balance.Items.BithumbFrozen["Money"]* settings.Items.rate[2] |
                                                        number:2}}
                                                    </td>
                                                    <td width="10%"><a ng-click="save();"
                                                                       class="btn btn-default btn-sm">平衡</a></td>
                                                </tr>
                                                <!-- <tr ng-if="balance.Items.HuobiTrade[key]>0 || balance.Items.HuobiFrozen[key]>0 || balance.Items.BithumbTrade[key]>0 || balance.Items.BithumbFrozen[key]>0" ng-repeat="(key, item) in settings.Items.symbol">-->
                                                <tr ng-repeat="(key, item) in settings.Items.symbol">
                                                    <td width="30%"> {{key}}</td>
                                                    <td width="30%">
                                                        {{balance.Items.HuobiTrade[key]}}/{{balance.Items.HuobiFrozen[key]}}
                                                    </td>
                                                    <td width="30%">
                                                        {{balance.Items.BithumbTrade[key]}}/{{balance.Items.BithumbFrozen[key]}}
                                                    </td>
                                                    <td width="10%"><a ng-click="save();"
                                                                       class="btn btn-default btn-sm">平衡</a></td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                    <div class="modal-footer" ng-if="tab!=0">
                        <div class="btn-group pull-right">
                            <a ng-click="settingsSave();" class="btn btn-default btn-sm" ng-if="tab<4">保存</a>
                            <a ng-click="getBalance();" class="btn btn-default btn-sm" ng-if="tab==4">刷新</a>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default mb-5">
                    <div class="panel-heading pad-10">
                        <div class="btn-group pull-right">
                            <a href="#" class="btn btn-default btn-sm">清空</a>
                        </div>
                        <h6>交易中订单</h6>
                    </div>
                    <div class="panel-body pad-5">
                        <table class="table table-striped mb-5">
                            <th width="10%">模式</th>
                            <th width="10%">类型</th>
                            <th width="10%">币种</th>
                            <th width="20%">买价</th>
                            <th width="20%">卖价</th>
                            <th width="15%">数量</th>
                            <th>状态</th>
                        </table>
                        <div data-slim-scroll data-scroll-height="100">
                            <table class="table table-striped">
                                <tr ng-repeat="(key, item) in order.Items">
                                    <td width="10%">{{item.Mode|arrayAttr:select.mode:'Name'}}</td>
                                    <td width="10%">{{item.Type|arrayAttr:select.type:'Name'}}</td>
                                    <td width="10%">{{item.Currency}}</td>
                                    <td width="20%">{{item.Buy| number:2}}</td>
                                    <td width="20%">{{item.Sell| number:2}}</td>
                                    <td width="15%">{{item.Amount}}</td>
                                    <td ng-if="item.State==1">交易中</td>
                                    <td ng-if="item.State==2">交易中</td>
                                    <td ng-if="item.State==3">交易中</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default mb-5">
                    <div class="panel-heading pad-10">
                        <div class="btn-group pull-right">
                            <a ng-click="message=[];" class="btn btn-default btn-sm">清空</a>
                        </div>
                        <h6>可交易的订单</h6>
                    </div>
                    <div class="panel-body pad-5">
                        <table class="table table-striped mb-5">
                            <th width="10%">编号</th>
                            <th width="10%">币种</th>
                            <th width="20%">数量</th>
                            <th width="20%">赢利比</th>
                            <th width="20%">盈利额</th>
                            <th width="10%">操作</th>
                        </table>
                        <div data-slim-scroll data-scroll-height="{{height-653}}">

                            <table class="table table-striped">

                                <tr id="message" ng-repeat="(key, msg) in message | orderBy:['-index']">

                                    <td width="10%">{{msg.index}}</td>
                                    <td width="10%">{{msg.symbol}}</td>
                                    <td width="20%">{{msg.amount}}</td>
                                    <td width="20%">{{msg.percent| number:2}}%</td>
                                    <td width="20%">{{msg.money| number:2}}</td>
                                    <td width="10%"><a ng-click="addTransaction(key);"
                                                       class="btn btn-default btn-sm">交易</a></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>


            </div>

        </div>


    </div>
</div>
<!-- Flot Chart Body End -->