<div class="page text-warning ">
    <div class="row">
        <div class="col-md-8 pad-5" >
            <div data-slim-scroll data-scroll-height="{{height}}">
                <div ng-repeat="(key, symbol) in depth ">
                    <div class="col-md-4 pad-5" ng-if="settings.symbol[key].amount>0">
                        <div class="panel panel-default " ng-class=" {'market-buy': settings.symbol[key].color} ">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{key}}价格</h3>
                            </div>
                            <div class="panel-body pad-10 ">
                                <table class="table table-striped">
                                    <th>平台</th>
                                    <th>卖盘</th>
                                    <th>买盘</th>
                                    <tr ng-repeat="item in symbol">
                                        <td>{{item.platform|arrayAttr:platform.Items:'Name'}}</td>
                                        <td>{{item._bids}}</td>
                                        <td>{{item._asks}}</td>
                                    </tr>
                                    <tr ng-class="{'text-danger':profit[key]['surplus'].percent >= percent}">
                                        <td>顺差：</td>
                                        <td>{{profit[key]["surplus"].percent | number:2}}%</td>
                                        <td>{{profit[key]["surplus"].money| number:2}}</td>
                                    </tr>
                                    <tr ng-class="{'text-danger':profit[key]['deficit'].percent >= percent}">
                                        <td>逆差：</td>
                                        <td>{{profit[key]["deficit"].percent | number:2}}%</td>
                                        <td>{{profit[key]["deficit"].money| number:2}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4 np mt-10">
            <div data-slim-scroll data-scroll-height="{{height}}">


                <div class="panel panel-default  mb-5">
                    <div class="panel-body  pad-5">
                        <tabset>
                            <tab heading="差值排序" ng-click="active(0);">
                                <div class="col-md-6 pad-5">
                                    <div class="panel-body pad-5">
                                        <table class="table table-striped mb-5" >
                                            <th>币种</th>
                                            <th>顺差</th>
                                            <th>操作</th>
                                        </table>
                                        <div data-slim-scroll data-scroll-height="242">
                                            <table class="table table-striped">
                                                <tr ng-repeat="item in sortList | orderBy :['-surplus']">
                                                    <td>{{item.symbol}}</td>
                                                    <td>{{item.surplus  | number:2}}%</td>
                                                    <td><a ng-click="save();" class="btn btn-default btn-sm" >交易</a></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pad-5">
                                    <div class="panel-body pad-5">
                                        <table class="table table-striped mb-5" >
                                            <th>币种</th>
                                            <th>逆差</th>
                                            <th>操作</th>
                                        </table>
                                        <div data-slim-scroll data-scroll-height="242">

                                                <table class="table table-striped">
                                                    <tr ng-repeat="item in sortList | orderBy :['+_deficit']">
                                                        <td>{{item.symbol}}</td>
                                                        <td>{{item.deficit | number:2}}%</td>
                                                        <td><a ng-click="save();" class="btn btn-default btn-sm" ng-if="tab<4">交易</a></td>
                                                    </tr>
                                                </table>

                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="基础设置" ng-click="active(1);" >
                                <div data-slim-scroll data-scroll-height="250">
                                <form class="form-horizontal mt-10" role="form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">顺差</label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" ng-model="settings.surplus"
                                                           placeholder="顺差"
                                                           ng-required="true">
                                                    <span class="input-group-addon">%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">逆差</label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" ng-model="settings.deficit"
                                                           placeholder="逆差"
                                                           ng-required="true">
                                                    <span class="input-group-addon">%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">模式</label>
                                            <div class="col-sm-8">
                                                <select class="form-control"
                                                        ng-model="settings.mode"
                                                        ng-options="sel.Id as sel.Name for sel in select.mode">
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">下单</label>
                                            <div class="col-sm-8">
                                                <select class="form-control"
                                                        ng-model="settings.order"
                                                        ng-options="sel.Id as sel.Name for sel in select.order">
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                                </div>

                            </tab>
                            <tab heading="数量设置"   ng-click="active(2);">
                                <form class="form-horizontal mt-10" role="form">

                                    <div class="col-md-6" ng-repeat="(key, item) in settings.symbol">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">{{key}}</label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" ng-model="settings.symbol[key].amount"
                                                           placeholder="{{key}}交易数量"
                                                           ng-required="true">
                                                    <span class="input-group-addon">个</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </form>
                            </tab>
                            <tab heading="费用设置"  ng-click="active(3);" >
                                <div class="panel-body pad-5">
                                    <table class="table table-striped mb-5" >
                                        <th>币种</th>
                                        <th>火币交易费</th>
                                        <th>火币转账费</th>
                                        <th>韩币交易费</th>
                                        <th>韩币转账费</th>
                                    </table>
                                    <div data-slim-scroll data-scroll-height="201">
                                        <form class="form-horizontal" role="form">
                                            <table class="table table-striped">
                                                <tr ng-repeat="(key, item) in settings.symbol">
                                                    <td> {{key}}</td>

                                                    <td><input type="text" class="form-control" ng-model="settings.symbol[key].cost"
                                                               placeholder="交易费"
                                                               ng-required="true">
                                                    </td>
                                                    <td><input type="text" class="form-control" ng-model="settings.symbol[key].fee"
                                                               placeholder="转账费"
                                                               ng-required="true"></td>

                                                    <td><input type="text" class="form-control" ng-model="settings.symbol[key].cost"
                                                               placeholder="交易费"
                                                               ng-required="true">
                                                    </td>
                                                    <td><input type="text" class="form-control" ng-model="settings.symbol[key].fee"
                                                               placeholder="转账费"
                                                               ng-required="true">
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>
                                </div>

                            </tab>

                            <tab heading="资产状况"  ng-click="active(4);" >

                                <div class="panel panel-default  mb-5">

                                    <div class="panel-body pad-5">
                                        <table class="table table-striped mb-5" >
                                            <th width="33%">币种</th>
                                            <th width="33%">可用/冻结（火）</th>
                                            <th width="33%">可用/冻结（韩）</th>
                                        </table>

                                        <div data-slim-scroll data-scroll-height="196">

                                            <table class="table table-striped" >
                                                <tr  ng-if="balance.Items.HuobiTrade['Money']>0 || balance.Items.HuobiFrozen['Money']>0 || balance.Items.BithumbTrade['Money']>0 || balance.Items.BithumbFrozen['Money']>0">
                                                    <td width="33%">现金(CNY)</td>
                                                    <td width="33%">{{balance.Items.HuobiTrade["Money"] * 7}} / {{balance.Items.HuobiFrozen["Money"] * 7}}</td>
                                                    <td width="33%">{{balance.Items.BithumbTrade["Money"] * 0.006}} / {{balance.Items.BithumbFrozen["Money"]* 0.006}}</td>
                                                </tr>
                                                <tr ng-if="balance.Items.HuobiTrade[key]>0 || balance.Items.HuobiFrozen[key]>0 || balance.Items.BithumbTrade[key]>0 || balance.Items.BithumbFrozen[key]>0" ng-repeat="(key, item) in settings.symbol">
                                                    <td width="33%"> {{key}}</td>
                                                    <td width="33%">{{balance.Items.HuobiTrade[key]}}/{{balance.Items.HuobiFrozen[key]}}</td>
                                                    <td width="33%">{{balance.Items.BithumbTrade[key]}}/{{balance.Items.BithumbFrozen[key]}}</td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                    <div class="modal-footer" ng-if="tab!=0">
                        <div class="btn-group pull-right">
                            <a ng-click="save();" class="btn btn-default btn-sm" ng-if="tab<4">保存</a>
                            <a ng-click="getBalance();" class="btn btn-default btn-sm" ng-if="tab==4">刷新</a>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default mb-5">
                    <div class="panel-heading pad-10">
                        <div class="btn-group pull-right">
                            <a href="#" class="btn btn-default btn-sm">清空</a>
                        </div>
                        <h6>交易中订单</h6>
                    </div>
                    <div class="panel-body pad-5">
                        <table class="table table-striped mb-5">
                            <th width="10%">模式</th>
                            <th width="15%">买价</th>
                            <th width="15%">卖价</th>
                            <th width="15%">数量</th>
                            <th width="15%">赢利</th>
                            <th width="15%">金钱</th>
                            <th width="15%">状态</th>
                        </table>
                        <div data-slim-scroll data-scroll-height="100">
                            <table class="table table-striped">
                                <tr ng-repeat="(key, item) in transactionList">
                                    <td width="10%">{{item.mode}}</td>
                                    <td width="15%">{{item.buy| number:2}}</td>
                                    <td width="15%">{{item.sell| number:2}}</td>
                                    <td width="15%">{{item.amount}}</td>
                                    <td width="15%">{{item.percent| number:2}}%</td>
                                    <td width="15%">{{item.money| number:2}}</td>
                                    <td width="15%" ng-if="item.state==1">交易中</td>
                                    <td width="15%" ng-if="item.state==2">交易中</td>
                                    <td width="15%" ng-if="item.state==3">交易中</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>



                <div class="panel panel-default mb-5">
                    <div class="panel-heading pad-10">
                        <div class="btn-group pull-right">
                            <a ng-click="message=[];" class="btn btn-default btn-sm">清空</a>
                        </div>
                        <h6>可交易的订单</h6>
                    </div>
                    <div class="panel-body pad-5">
                        <table class="table table-striped mb-5">
                            <th width="20%">币种</th>
                            <th width="20%">数量</th>
                            <th width="20%">赢利比</th>
                            <th width="20%">盈利额</th>
                            <th width="20%">操作</th>
                        </table>
                        <div data-slim-scroll data-scroll-height="{{height-650}}">

                            <table class="table table-striped" >

                                <tr id="message" ng-repeat="(key, msg) in message">

                                    <td width="20%">{{msg.symbol}}</td>
                                    <td width="20%">{{msg.amount}}</td>
                                    <td width="20%">{{msg.percent| number:2}}%</td>
                                    <td width="20%">{{msg.money| number:2}}</td>
                                    <td width="20%"><a ng-click="addTransaction(key);" class="btn btn-default btn-sm">交易</a></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>




            </div>

        </div>


    </div>
</div>
<!-- Flot Chart Body End -->