<div class="help_detail">
	<h2>帮助中心</h2>
	<ul>
		<li class="title">1.本网站有什么特色?</li>
		<li>本网站是一个全天24小时自动更新电影的电影站，所以基本能达到最新最快，只要电影院有的，我们基本都有！刚上映的电影只有抢先版，清晰的，只有慢慢等了...本站没有的电影请留言求片。</li>
		<li class="title">2.为什么不能观看?</li>
		<li>因为2014的净网行动，原来最流行百度影音和快播都已经不再提供点播功能，所以这两种播放方式已经不能再用。请选择其他的播放方式，如先锋影音和西瓜影音。如果已安装播放器还不能观看，请在电影页“报错”或直接在留言本留言。</li>
		<li class="title">3.如何安装播放器？</li>
		<li>请在百度搜索下载，或者点击 <a href="http://www.xfplay.com/" target="_blank">先锋影音</a>  <a href="http://www.xigua.com/" target="_blank">西瓜影音</a>进行下载安装！</li>
		<li class="title">4.如何下载电影？</li>
		<li>电影在您观看的时候自动在下载，观看完毕，电影也就下载完毕。你也可以将播放器最小化到托盘，在相应的电影上点鼠标右键选“接收”，如下图所示。</li>
		<li class="title">5.观看电影很卡怎么办？</li>
		<li>您的网速将是下载电影快慢的重要原因，如果出现观看电影很卡的现象，你可以选择DVD版本的视频观看，尽量不选择HD/BD高清的电影观看，或者你可以点开电影后暂停等下载完毕再观看！</li>
		<li class="title">6.下载的电影保存在哪里？</li>
		<li>安装的时候有个媒体保存路径 ，就在那里。如果忘了，就么请看下图:<img src="/Tpl/haojihk/images/help_qvod.gif"/></li>
		<li></li>
	</ul>
</div>