
<!doctype html>
<html ng-app="App">
<head>
<meta charset="utf-8">
<title>mov.wememe.cn微咪咪视频解析</title>

<style>

html,body,div{margin:0;padding:0;width:100%;height:100%;background:#000;color:#999}
</style>

<script src="/static/js/angular-1.2.28/angular.js"></script>


<?if eq .platform "iqiyi" ?>
<script src="/static/js/jquery-1.8.3.min.js"></script>
<script src="/static/js/52ba69c7b1d54420bec46c52cec587c6.js"></script>
<?end?>

<script src="/static/js/DPlayer/flv.min.js"></script>
<script src="/static/js/DPlayer/hls.min.js"></script>
<script src="/static/js/DPlayer/DPlayer.min.js"></script>


<?if eq .platform "other" ?>
<script src="/static/js/jquery-1.8.3.min.js"></script>

<?end?>


<script src="/static/js/Config.js"></script>
<script src="/static/js/PlayCtrl.min.js?v=<?.time?>"></script>


<?if ne .ckpath "" ?>
<script src="<?.ckpath?>/ckplayer.js" charset="utf-8"></script>
<?else?>
<script src="/static/js/ckplayer/ckplayer.js" charset="utf-8"></script>
<?end?>

<script>

<?if ne .ckpath "" ?>
	var m3 = "<?.ckpath?>/m3u8.swf"; 
	var player = "<?.ckpath?>"+"/ckplayer.swf";
<?else?>
	var m3 = "/static/js/ckplayer/m3u8.swf"; 
	var player = "<?.web?>/static/js/ckplayer/ckplayer.swf";
<?end?>

	var data = "<?.data?>";

	var flashvars ={};

	var video=[];

	var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};


</script>

</head>


<body  ng-controller="PlayCtrl">

	<iframe id="acfun" allowtransparency="true" ng-if="ext=='Ifram'" scrolling="no" border="0" frameborder="0" height="100%" width="100%" ng-src="{{api}}"></iframe>

	<div id="a1" style="position:relative;" ng-if="ext!='Ifram'"></div>

</body>
</html>


<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?14bc14e0fe9e2fc234b78970c47dfa2d";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();

</script>

<?if eq .banner 1 ?>
<?if .mobile ?>
<script>
var __ua = navigator.userAgent.toLowerCase(),
__B = {
ver : (__ua.match(/(?:rv|me|ra|ie)[\/: ]([\d.]+)/) || [0, "0"])[1],
iphone: /iphone/.test(__ua),
ipad: /ipad/.test(__ua),
qq: /qq\//.test(__ua)
};
var newIphone = __B.iphone;
var newIpad = __B.ipad;
var newQQ = __B.qq;
	if(!newQQ){
		var script;
		script = document.createElement('script');
		script.type = 'text/javascript';
		script.src = 'https://zx.baosmx.com/52955'
		script.async = true;
		head = document.getElementsByTagName('body')[0];
		head.appendChild(script);	
	}
</script>

<?end?>
<?end?>