
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>好记好看电影网 - 用户登录</title>
<meta name="keywords" content="最新电视剧,电影下载,神马电影,2016最新电影,好看的电视剧,好看的电影">
<meta name="description" content="所有影片由好记好看电影网整理,迅雷下载,百度云盘,2016最新神马电影，韩国电视剧、香港TVB电视剧、日本动漫、日剧、美剧、综艺的在线观看神马电影和剧集交流场所，神马电影在线观看高清电影，每天第一时间更新，放送好看的神马电影迅雷电影下载。">
<link href="/Public/user/css/base.css" type="text/css" rel="stylesheet">
<link href="/Public/user/css/qirebox.css" type="text/css"rel="stylesheet">
<script src="/Public/user/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="/Public/user/js/formValidator-4.0.1.js"type="text/javascript"></script>
</head>
<body>
	<div class="layout" id="sign-header">
		<div id="sign-logo">
			<a href="http://www.haojihaokan.com"><img src="/Public/user/images/logo.png" alt=""></a>
		</div>
	</div>
	<!-- // sign-header end -->
	<div class="layout" id="sign-content">
		<div class="ui-box ui-qire sign-focus" id="login-box">
			<div class="ui-title fn-clear">
				<span>还没有好记好看电影网会员帐号？请<a href="/User-Center-reg">注册成为好记好看电影网会员</a></span>
                <h2>好记好看电影网会员登录</h2>
             </div>
			<div class="ui-cnt fn-clear">
				<form id="loginform_web" action="" method="post">
					<div class="ui-form" id="sign-primary">
						<div class="ui-form-item fn-clear">
							<label for="username" class="ui-label w100">您的帐号：</label>
                            <input type="text" id="username" name="username" class="ui-input w220" value="" value=""><p class="onError ui-message" id="usernameTip">你输入的用户名或者Email非法,请确认</p>
						</div>
						<div class="ui-form-item fn-clear">
							<label for="password" class="ui-label w100">密码：</label>
                            <input value="" type="password" id="password" name="password" maxlength="20" class="ui-input w220" value=""><p class="onError ui-message" id="passwordTip">密码不能为空,请确认</p>
						</div>
						<div class="ui-form-item ui-form-checkbox fn-clear">
							<label class="ui-label w100">&nbsp;</label>
							<div class="ui-form-block w220">
								<label for="agreement" class="ui-label-checkbox"><input type="checkbox" name="cookietime" id="cookietime" checked="checked" value="2592000">下次自动登录 </label><a href="/User-Center-forgetpwd">忘记密码了？</a>
							</div>
						</div>
						<div class="ui-form-item fn-clear">
							<label class="ui-label w100">&nbsp;</label>
							<input type="submit" id="loginbt" class="ui-button w220" value="登录">
							<input type="hidden" name="dosubmit" id="dosubmit" value="1">
							<input type="hidden" name="forward"  value="" id="forward">
						</div>
					</div>
					<!-- // ui-form#sign-primary end -->
				<input type="hidden" name="__hash__" value="54079732234cb3fe3a0ed68934ecf9db" /></form>
 <div id="sign-app">
      	<div class="sign-app-list">
      		<h5>你还可以用以下方式直接登录：</h5>
      		<ul class="item login-list clear blue"> 
	            	      			<li style="margin-right:14px;">
						<a href="/User-Center-qqlogin" target="_blank" style="background-image:url(/Public/user/images/qq_16_16.png)">腾讯QQ登录</a>
					</li>
	 				 				 			    
			</ul>
      	</div>
      </div>
				<!-- // sign-app end -->
			</div>
		</div>
		<!-- // sign-box#regbox end -->
		<script type="text/javascript">
			$.formValidator.initConfig({
				formID : "loginform_web",
				debug : false,
				submitOnce : false,
				onSuccess : function() {
					$("#loginform_web").qiresub({
						curobj : $("#loginform_web #loginbt"),
						txt : '数据提交中,请稍后...',
						onsucc : function(result) {
							$.hidediv(result);
						}
					}).post({
						url : '/User-Center-login'
					});
					return false;
				},
				onError : function(msg, obj, errorlist) {
					$("#errorlist").empty();
					$.map(errorlist, function(msg) {
						$("#errorlist").append("<li>" + msg + "</li>")
					});
				},
				submitAfterAjaxPrompt : '有数据正在异步验证，请稍等...'
			});
			$("#loginform_web #username").formValidator({
				onShow : "请输入正确的用户名或者email",
				onFocus : "至少4个字符",
				onCorrect : "填写正确"
			}).inputValidator({
				min : 4,
				onError : "你输入的用户名或者Email非法,请确认"
			});
			$("#loginform_web #password").formValidator({
				onShow : "请输入密码",
				onFocus : "至少6个长度",
				onCorrect : "密码合法"
			}).inputValidator({
				min : 6,
				empty : {
					leftEmpty : false,
					rightEmpty : false,
					emptyError : "密码两边不能有空符号"
				},
				onError : "密码不能为空,请确认"
			});
		</script>
	</div>
	<!-- // sign-content end -->
<script language="javascript" src="/Public/user/js/qireobj.js" type="text/javascript"></script>
<script type="text/javascript" src="/Public/user/js/focus.js"></script>
﻿<div class="footer">
  <div class="layout">
     <div class="foot-nav"><a class="color" href="/faq/" target="_blank" title="使用帮助">常见问题</a>-<a href="//new.html" target="_blank" title="最新更新">最新更新</a>-<a href="//sitemap.html" target="_blank" title="网站地图">网站地图</a>-<script src="https://s11.cnzz.com/z_stat.php?id=1258209498&web_id=1258209498" language="JavaScript"></script></div>
    <!-- // foot-nav End -->
    <div class="copyright">
<div class="copyright">
<p>
本网站提供的最新电视剧和电影资源均系收集于各大视频网站，本网站只提供web页面服务，并不提供影片资源存储，也不参与录制、上传
</p>
<p>
若本站收录的节目无意侵犯了贵司版权，请给网页底部邮箱地址来信，我们会及时处理和回复，谢谢！
</p>
<p>
Copyright &copy; 2007-2016<a class="color" href="http://www.haojihaokan.com/">好记好看电影网</a> 
<a class="color" href="http://www.haojihaokan.com/">www.haojihaokan.com </a> 
<a class="color" href="http://www.haojihaokan.com/sitemap.html">网站地图</a>
<a class="color" href="http://www.haojihaokan.com/sitemap.xml">sitemap</a>
</p>
		</div>    </div>
    <!-- // copyright End -->
    <!-- // maxBox End -->
  </div>
</div>
<!-- // footer end -->
<script language="javascript" src="Public/user/js/qireobj.js" type="text/javascript"></script>
<script type="text/javascript" src="Public/user/js/jquery.colorbox.js"></script>
<script type="text/javascript" src="Public/user/js/jquery.vod.js"></script>
	<!-- // footer end -->
</body>
</html>