
  <div id="content" class="layout"> 
   <div class="bread-crumb-nav fn-clear"> 
    <ul class="bread-crumbs"> 
     <li class="home"><a href="/">首页</a></li> 
     <li>搜索 <strong style="color:#e12160;"><?.keyword?></strong> 共找到视频 <strong style="color:red"><?.results.Total?></strong> 个</li> 
    </ul> 
    <!-- // bread-crumbs end --> 
    <div class="bread-share fn-right"> 
    
    </div> 
   </div> 
    <div class="ui-box ui-qire fn-clear" id="list-focus">
    <div class="qire-box">
      <div class="ui-bar fn-clear">

        <div class="view-filter">

           	<a href="/search/<?.keyword?>/?ob=" <?if eq .ob ""?>class='current order'<?end?> target='_self'><span>相关</span></a><em>|</em>
			<a href="/search/<?.keyword?>/?ob=1" <?if eq .ob "1"?>class='current order'<?end?> target='_self'><span>最新</span></a><em>|</em>
			<a href="/search/<?.keyword?>/?ob=2"<?if eq .ob "2"?>class='current order'<?end?> target='_self'><span>最热</span></a><em>|</em>

		</div>
       
      </div>

	 <ul class="grid-mode2 show-list fn-clear" id="contents">
		<?range $k, $v := .results.List?>

        <li>
			<a class="play-img2" target='_self' href="<?if eq $v.Showid ""?>/play/<?$v.Videoid?><?else?>/view/<?$v.Showid?><?end?>">
				<img class="lazy" onerror="javascript:this.src='/static/images/empty.gif';" src="/static/images/empty.gif" data-original="<?$v.Thumburl?>" alt="<?$v.Title?>" />
	            <label class="mask"></label>	                        
			</a>

            <h5><a target='_self' href="<?if eq $v.Showid ""?>/play/<?$v.Videoid?><?else?>/view/<?$v.Showid?><?end?>"><?$v.Title?></a></h5>
            <p class="star">播放：<?$v.Total_vv?></p>

        </li>
		
  		<?end?>
		
      </ul>


      <div class="ui-bar list-page fn-clear">

		<?if .paginator.HasPages?>
			<ul class="page">
				<?if .paginator.HasPrev?>
					<li><a target='_self' href="<?.paginator.PageLinkFirst?>">第一页</a></li>
					<li><a target='_self' href="<?.paginator.PageLinkPrev?>">&laquo;</a></li>
				<?else?>
					<li class="disabled"><a>第一页</a></li>
					<li class="disabled"><a>&laquo;</a></li>
				<?end?>
	
			     <?range $index, $page := .paginator.Pages?> 
					<li<?if $.paginator.IsActive .?> class="active"<?end?>> <a target='_self' href="<?$.paginator.PageLink $page?>"><?$page?></a></li>
				<?end?>
	
			     <?if .paginator.HasNext?>
					<li><a target='_self' href="<?.paginator.PageLinkNext?>">&raquo;</a></li>
					<li><a target='_self' href="<?.paginator.PageLinkLast?>">最后一页</a></li>
					<?else?>
					<li class="disabled"><a>&raquo;</a></li>
					<li class="disabled"><a>最后一页</a></li>
				<?end?>
			 </ul>
		<?end?> 

      </div>

    </div>
    <div class="qire-bar">
      
      <div class="ui-ranking">
        <h3>热搜榜</h3>
        <ul class="ranking-list">
		 	<?range $_k, $_v := .hot_search_1?>
				<?range $k, $v := $_v.rank?>

						<li><span><?$k | indexaddone?></span><a href="/search/<?$v.keyword?>" title="<?$v.keyword?>" target="_blank"><?$v.keyword?></a>/<?$v.display_status?></li>

				<?end?>
			<?end?>

		</ul>
        <!-- // ranking-list end -->
      </div> 


    </div>
  </div>

   <em> </em>
  </div>
  <em> </em>
