/* line 5, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
body {
	margin: 10;
	padding: 10;
	border: 10;
	font: inherit;
	font-size: 13px;
	vertical-align: baseline;
	font: 400 13px/1.6 Microsoft Yahei, Arial, Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
	font-family: 微软雅黑;
}
html, div, span {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* line 22, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
	line-height: 1;
}
/* line 24, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul, li {
	list-style: none;
}
/* line 26, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */


/* line 28, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
	font-weight: normal;
	vertical-align: middle;
}
.head {
	display: block;
}
.atm {
	font-size: 34px;
	margin: 5px 0 30px 0;
	display: inline-block;
}
.hb-logo {
	display: inline-block;
	width: 179px;
	height: 37px;
	background-image: url('../image/hb-logo.png');
	background-repeat: no-repeat;
	margin-left: 20px;
}
.hv-logo {
	display: inline-block;
	width: 179px;
	height: 37px;
	background-image: url('../image/hv-logo.png');
	background-repeat: no-repeat;
	margin-left: 20px;
}
.btc {
	width: 469px;
	float: left;
	margin-bottom: 20px;
}
.ltc {
	width: 469px;
	float: left;
	margin-bottom: 20px;
}
.eth {
	width: 469px;
	float: left;
	margin-bottom: 20px;
}
.etc {
	width: 469px;
	float: left;
	margin-bottom: 20px;
}
.bcc {
	width: 469px;
	float: left;
	margin-bottom: 20px;
}
.zec {
	width: 469px;
	float: left;
	margin-bottom: 20px;
}
.dash {
	width: 469px;
	float: left;
	margin-bottom: 20px;
}
.xrp {
	width: 469px;
	float: left;
	margin-bottom: 20px;
}
.qtum {
	width: 469px;
	float: left;
	margin-bottom: 20px;
}
.eos {
	width: 469px;
	float: left;
	margin-bottom: 20px;
}
.zec {
	width: 469px;
	float: left;
	margin-bottom: 20px;
}
.stock {
	width: 469px;
	float: left;
	margin-bottom: 20px;
}

.trading {
	width: 460px;
	float: left;
	margin-bottom: 20px;
        display: none;
}
.title {
	font-size: 16px;
	font-weight: bold;
	line-height: 28px;
	width: 460px;
}
#bids-now {
	float: right;
	font-weight: normal;
	font-size: 12px;
	background-color: #ffead0;
	padding: 0 10px;

}
#asks-now {
	float: right;
	font-weight: normal;
	font-size: 12px;
	background-color: #ffead0;
	padding: 0 10px;

}
#btc-now {
	float: right;
	font-weight: normal;
	font-size: 12px;
	background-color: #ffead0;
	padding: 0 10px;

}

#ltc-now {
	float: right;
	font-weight: normal;
	font-size: 12px;
	background-color: #ffead0;
	padding: 0 10px;
}
#eth-now {
	float: right;
	font-weight: normal;
	font-size: 12px;
	background-color: #ffead0;
	padding: 0 10px;
}
#dash-now {
	float: right;
	font-weight: normal;
	font-size: 12px;
	background-color: #ffead0;
	padding: 0 10px;
}
#xrp-now {
	float: right;
	font-weight: normal;
	font-size: 12px;
	background-color: #ffead0;
	padding: 0 10px;
}
#qtum-now {
	float: right;
	font-weight: normal;
	font-size: 12px;
	background-color: #ffead0;
	padding: 0 10px;
}
#eos-now {
	float: right;
	font-weight: normal;
	font-size: 12px;
	background-color: #ffead0;
	padding: 0 10px;
}
#zec-now {
	float: right;
	font-weight: normal;
	font-size: 12px;
	background-color: #ffead0;
	padding: 0 10px;
}
#etc-now {
	float: right;
	font-weight: normal;
	font-size: 12px;
	background-color: #ffead0;
	padding: 0 10px;
}
#bcc-now {
	float: right;
	font-weight: normal;
	font-size: 12px;
	background-color: #ffead0;
	padding: 0 10px;
}
#zec-now {
	float: right;
	font-weight: normal;
	font-size: 12px;
	background-color: #ffead0;
	padding: 0 10px;
}
.red-back {
	background-color: #ffead0;
}
.blue-back {
	background-color: #d1e5d4;
}
.text-center {
	text-align: center;
	display: block;
	font-weight: bold;
}
 @-webkit-keyframes up {
 0% {
 background-color:#ff720d;
 opacity:0.5;
}
}
.up {
	-webkit-animation-name: up;
	-webkit-animation-duration: 1000ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
}
 @-webkit-keyframes down {
 0% {
 background-color:#6a90ad;
 opacity:0.5;
}
}
.down {
	-webkit-animation-name: down;
	-webkit-animation-duration: 1000ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
}
.price {
	color: #C00;
}
.quantity {
	color: #666;
}
.clear {
    float: right;
    color:#00F;
    cursor: pointer;
    font-size: 11px;
    padding:5px 17px 0 0;
    font-weight: normal;
    vertical-align: bottom;
    
}
.num {
	width: 77px;
	text-align: right;
	float: right;
	margin-right: 5px;
}
.icon_nav_btc {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin: -3px 5px 0 0;
	background-position: 0 -66px;
}
.icon_nav_ltc {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin: -3px 5px 0 0;
	background-position: -22px -66px;
}
.icon_nav_eth {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin: -3px 5px 0 0;
	background-position: -44px -66px;
}
.icon_nav_dash {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin: -3px 5px 0 0;
	background-position: -44px -66px;
}
.icon_nav_xrp {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin: -3px 5px 0 0;
	background-position: -44px -66px;
}
.icon_nav_qtum {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin: -3px 5px 0 0;
	background-position: -44px -66px;
}
.icon_nav_eos {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin: -3px 5px 0 0;
	background-position: -44px -66px;
}
.icon_nav_zec {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin: -3px 5px 0 0;
	background-position: -44px -66px;
}
.icon_nav_etc {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin: -3px 5px 0 0;
	background-position: -66px -66px;
}
.icon_nav_bcc {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin: -3px 5px 0 0;
	background-position: -66px -66px;
}
.icon_nav_zec {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin: -3px 5px 0 0;
	background-position: -66px -66px;
}
.icon {
	background-image: url('../image/center_sprites.png');
	background-repeat: no-repeat;
}
.hart {
	display: inline-block;
	margin-left: 15px;
        vertical-align: bottom  !important;
        
        height: 25px;

}
#inlinebar-btc {
}
#inlinebar-bids {
}
#inlinebar-asks {
}
.outer-cn-btc {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-ko-btc {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-cn-ltc {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-ko-ltc {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-cn-eth {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-cn-dash {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-cn-xrp {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-cn-qtum {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-cn-eos {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-cn-zec {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-cn-bcc {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-cn-zec {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-ko-eth {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-ko-dash {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-ko-xrp {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-ko-qtum {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-ko-eos {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-ko-zec {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-cn-etc {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-ko-etc {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-ko-bcc {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.outer-ko-zec {
	margin-right: 5px;
	width: 17px;
	height: 17px;
	float: left;
}
.inner {
	position: absolute;
	margin: 2px;
	width: 17px;
	height: 17px;
	display: block;
}
.seting {
        width: 438px;
	border: 1px solid #cccccc;
	padding: 10px;
	height: 356px;
}
.logs {
	width: 440px;
    border: 1px solid #cccccc;
	padding: 10px;
	height: 82px;
}
.logs-text {
	height: 155px;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
}
.logs-text ul {
	margin: 0;
	padding: 0;
	margin-top: 5px;
}
.logs-text li {
	margin: 0;
}
.time {
    color: #ff720d;
    margin-right: 15px;
}
.text {
    color: #666;
}

.t-content {
    border: 1px solid #cccccc;
    padding: 10px;
    height: 414px;
}
.trading-logs-text {
    height: 170px;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}
.trading-logs-text ul {
    margin: 0;
    padding: 0;
}
.trading-logs-text li {
    margin: 0;
}
.hidden {
    display: none;
}
.pb5 {
    padding-bottom: 5px;
}