<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ATM自助提款机(在线交易版)</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<div class="_bd_ext_tip" style="visibility: hidden;"></div>
<div id="btc" class="btc">
    <div class="title"><i class="icon icon_nav_btc"></i>BTC价格

        <div class="hart"><span id="inlinebar-btc"></span></div>
        <span id="btc-now">0</span>
    </div>
    <table width="460" border="0" cellspacing="1" cellpadding="2" bgcolor="#d5d5d5">
        <tr>
            <td width="70" height="24" align="center" bgcolor="#efefef"><strong>分类</strong></td>
            <td width="120" align="center" bgcolor="#efefef"><strong>卖</strong></td>
            <td width="120" align="center" bgcolor="#efefef"><strong>买</strong></td>
            <td align="center" bgcolor="#efefef"><strong>结果</strong></td>
        </tr>
        <tr>
            <td height="24" align="center" bgcolor="#ffffff">Ⅰ</td>
            <td width="120" bgcolor="#ffffff" id="btc-cn-asks-t-1"><span id="btc-cn-asks-1"></span></td>
            <td bgcolor="#ffffff" id="btc-ko-bids-t-1"><span id="btc-ko-bids-1"></span></td>
            <td rowspan="5" align="center" bgcolor="#FFFFFF" id="btc-cn-ko-t"><span id="btc-cn-ko"><span
                    class='text-center'>无</span></span></td>
        </tr>
        <tr bgcolor="#ffffff">
            <td height="24" align="center">Ⅱ</td>
            <td width="120" id="btc-cn-asks-t-2"><span id="btc-cn-asks-2"></span></td>
            <td id="btc-ko-bids-t-2"><span id="btc-ko-bids-2"></span></td>
        </tr>
        <tr bgcolor="#ffffff">
            <td height="24" align="center">中&gt;韩</td>
            <td width="120" id="btc-cn-asks-t-3"><span id="btc-cn-asks-3"></span></td>
            <td id="btc-ko-bids-t-3"><span id="btc-ko-bids-3"></span></td>
        </tr>
        <tr bgcolor="#ffffff">
            <td height="24" align="center">Ⅴ</td>
            <td width="120" id="btc-cn-asks-t-4"><span id="btc-cn-asks-4"></span></td>
            <td id="btc-ko-bids-t-4"><span id="btc-ko-bids-4"></span></td>
        </tr>
        <tr bgcolor="#ffffff">
            <td height="24" align="center">Ⅵ</td>
            <td width="120" id="btc-cn-asks-t-5"><span id="btc-cn-asks-5"></span></td>
            <td id="btc-ko-bids-t-5"><span id="btc-ko-bids-5"></span></td>
        </tr>
        <tr bgcolor="#f9f9f9">
            <td height="24" align="center"><strong>合 计</strong></td>
            <td width="120" id="btc-cn-asks-t-6"><span id="btc-cn-asks-6"></span></td>
            <td id="btc-ko-bids-t-6"><span id="btc-ko-bids-6"></span></td>
            <td align="center" id="btc-cn-ko-a">&nbsp;</td>
        </tr>
        <tr>
            <td height="24" align="center" bgcolor="#ffffff">Ⅰ</td>
            <td width="120" bgcolor="#ffffff" id="btc-ko-asks-t-1"><span id="btc-ko-asks-1"></span></td>
            <td bgcolor="#ffffff" id="btc-cn-bids-t-1"><span id="btc-cn-bids-1"></span></td>
            <td rowspan="5" align="center" bgcolor="#FFFFFF" id="btc-ko-cn-t"><span id="btc-ko-cn"><span
                    class='text-center'>无</span></span></td>
        </tr>
        <tr bgcolor="#ffffff">
            <td height="24" align="center">Ⅱ</td>
            <td width="120" id="btc-ko-asks-t-2"><span id="btc-ko-asks-2"></span></td>
            <td id="btc-cn-bids-t-2"><span id="btc-cn-bids-2"></span></td>
        </tr>
        <tr bgcolor="#ffffff">
            <td height="24" align="center">韩&gt;中</td>
            <td width="120" id="btc-ko-asks-t-3"><span id="btc-ko-asks-3"></span></td>
            <td id="btc-cn-bids-t-3"><span id="btc-cn-bids-3"></span></td>
        </tr>
        <tr bgcolor="#ffffff">
            <td height="24" align="center">Ⅴ</td>
            <td width="120" id="btc-ko-asks-t-4"><span id="btc-ko-asks-4"></span></td>
            <td id="btc-cn-bids-t-4"><span id="btc-cn-bids-4"></span></td>
        </tr>
        <tr bgcolor="#ffffff">
            <td height="24" align="center">Ⅵ</td>
            <td width="120" id="btc-ko-asks-t-5"><span id="btc-ko-asks-5"></span></td>
            <td id="btc-cn-bids-t-5"><span id="btc-cn-bids-5"></span></td>
        </tr>
        <tr bgcolor="#f9f9f9">
            <td height="24" align="center"><strong>合 计</strong></td>
            <td width="120" id="btc-ko-asks-t-6"><span id="btc-ko-asks-6"></span></td>
            <td id="btc-cn-bids-t-6"><span id="btc-cn-bids-6"></span></td>
            <td align="center" id="btc-ko-cn-a">&nbsp;</td>
        </tr>
    </table>
</div>


<div class="stock">
    <div class="title">&nbsp;</div>
    <div class="seting">
        <table width="450" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td height="4" colspan="6"></td>
            </tr>
            <tr>
                <td width="50" align="left">深度</td>
                <td height="24" colspan="5" align="left">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td><select name="price-depth" id="price-depth" style="width:60px" onchange="changeinput()">
                                <option value="0" selected="selected">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select></td>
                            <td>数据</td>
                            <td><select name="datasource" id="datasource" style="width:65px">
                                <option value="4" selected="selected">BTC</option>
                                <option value="2">USDT</option>
                            </select></td>
                            <td>&nbsp;</td>
                            <td>汇率</td>
                            <td><input type="input" id="usdt-cny-krw" size="5" title="1/10"/></td>
                            <td>利润</td>
                            <td><input type="input" id="profit-bottom-line" size="5"/></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="50" align="left">BTC</td>
                <td width="75" height="24" align="left"><input type="input" id="btc-cn-stock" size="5"/></td>
                <td width="100" align="left" id="btc-now-price">&nbsp;</td>
                <td width="50" align="left">BCH</td>
                <td width="75"><input type="input" id="bcc-cn-stock" size="5"/></td>
                <td align="left" id="bcc-now-price">&nbsp;</td>
            </tr>
            <tr>
                <td width="50" align="left">ETH</td>
                <td width="75" height="24" align="left"><input type="input" id="eth-cn-stock" size="5"/></td>
                <td width="100" align="left" id="eth-now-price">&nbsp;</td>
                <td width="50" align="left">ETC</td>
                <td width="75"><input type="input" id="etc-cn-stock" size="5"/></td>
                <td align="left" id="etc-now-price">&nbsp;</td>
            </tr>
            <tr>
                <td width="50" align="left">LTC</td>
                <td width="75" height="24" align="left"><input type="input" id="ltc-cn-stock" size="5"/></td>
                <td width="100" align="left" id="ltc-now-price">&nbsp;</td>
                <td width="50" align="left">DASH</td>
                <td width="75"><input type="input" id="dash-cn-stock" size="5"/></td>
                <td align="left" id="dash-now-price">&nbsp;</td>
            </tr>
            <tr>
                <td width="50" align="left">XRP</td>
                <td width="75" height="24" align="left"><input type="input" id="xrp-cn-stock" size="5"/></td>
                <td width="100" align="left" id="xrp-now-price">&nbsp;</td>
                <td width="50" align="left">QTUM</td>
                <td width="75"><input type="input" id="qtum-cn-stock" size="5"/></td>
                <td align="left" id="qtum-now-price">&nbsp;</td>
            </tr>
            <tr>
                <td width="50" align="left">EOS</td>
                <td width="75" height="24" align="left"><input type="input" id="eos-cn-stock" size="5"/></td>
                <td width="100" align="left" id="eos-now-price">&nbsp;</td>
                <td width="50" align="left">ZEC</td>
                <td width="75"><input type="input" id="zec-cn-stock" size="5"/></td>
                <td align="left" id="zec-now-price">&nbsp;</td>
            </tr>
            <tr>
                <td height="1" colspan="6"></td>
            </tr>
            <tr>
                <td align="left">设置</td>
                <td height="24" colspan="5" align="left">
                    <input type="checkbox" name="autotrading" id="autotrading" style="margin-left:0"/>
                    <label for="autotrading">可操作</label>
                    <input type="checkbox" name="autoerror" id="autoerror"/>
                    <label for="autoerror">异常报</label>
                    <input type="checkbox" name="local" id="local"/>
                    <label for="local">本地取</label>
                    <input type="checkbox" name="cn-notify" id="cn-notify"/>
                    <label for="cn-notify">中国买</label>
                    <input type="checkbox" name="kr-notify" id="kr-notify"/>
                    <label for="kr-notify">韩国买</label>
                </td>
            </tr>
            <tr>
                <td align="left"><!– 调用C#方法 –>
                    <button onclick="window.external.ApiRequestB('LTC')">BTC</button>
                </td>
                <td height="24" colspan="4" align="left"><input type="input" id="mailaddress"
                                                                style="width:300px; color:#CCC"/></td>
                <td align="left"><input type="button" name="test-mail" id="test-mail" value="测试邮件"/></td>
            </tr>
        </table>

        <div class="logs-text" id="logs-text" style="margin-top:5px">
            <ul>
            </ul>
        </div>
    </div>
</div>
</body>
</html>