<div id="content" class="layout">

  <div class="bread-crumb-nav fn-clear">
    <ul class="bread-crumbs">
      <li class="home"><a href="/">首页</a></li>
	
      <li>
			<?if eq .detail.sct "97"?>
				<a href="/dianshiju/"><?.detail.cats?></a>
			<?end?>
			<?if eq .detail.sct "96"?>
				<a href="/dianying/"><?.detail.cats?></a>
			<?end?>
			<?if eq .detail.sct "100"?>
				<a href="/dongman/"><?.detail.cats?></a>
			<?end?>
			<?if eq .detail.sct "85"?>
				<a href="/zongyi/"><?.detail.cats?></a>
			<?end?>
			<?if eq .detail.sct "99"?>
				<a href="/game/"><?.detail.cats?></a>
			<?end?>
			<?if eq .detail.sct "94"?>
				<a href="/gaoxiao/"><?.detail.cats?></a>
			<?end?>
			
	  </li>
      <li><a href="/view/<?.detail.showid?>"><?.detail.first_line.title?></a></li>
    </ul>
  </div>



  <div class="ui-box" id="detail-box">
    <div class="detail-title fn-clear">
      <h2><?.detail.first_line.title?></h2>
     
    </div>
    <div class="detail-cols fn-clear">
      <div class="detail-pic fn-left"><img width="225" height="300" onerror="javascript:this.src='/static/images/empty.gif';" src="<?.detail.img?>" alt="<?.detail.video_title?>" /></div>
      <div class="detail-info fn-left">
       
        <div class="info fn-clear">
          <dl>
            <dt>主演：</dt>
            <dd>
				<?range $k, $v := .detail.performer?>
					<a href="/search/<?$v?>" target="_blank"><?$v?></a>
				<?end?>
			</dd>
          </dl>
          <dl>
            <dt>状态：</dt>
            <dd>
				<span class="color"><?.detail.video_type?></span>
			</dd>
          </dl>
          <dl class="fn-left">
            <dt>类型：</dt>
			<dd>
				
				<?range $k, $v := .detail.genre?>
					<?if eq $.detail.sct "96"?>
						<a href="/dianying/?movie_genre=<?$v?>" target="_blank"><?$v?></a>
					<?end?>
					<?if eq $.detail.sct  "97" ?>
						<a href="/dianshiju/?tv_genre=<?$v?>" target="_blank"><?$v?></a>
					<?end?>
					<?if eq $.detail.sct "100" ?>
						<a href="/dongman/?anime_genre=<?$v?>" target="_blank"><?$v?></a>
					<?end?>
					<?if eq $.detail.sct "85"?>
						<a href="/zongyi/?variety_genre=<?$v?>" target="_blank"><?$v?></a>
					<?end?>
					

				<?end?>
            </dd>
          </dl>
          <dl class="fn-right">
            <dt>地区：</dt>
            <dd>
				<?range $k, $v := .detail.area?>

					<?if eq $.detail.sct "96"?>
						<a href="/dianying/?area=<?$v?>" target="_blank"><?$v?></a>
					<?end?>
					<?if eq $.detail.sct  "97" ?>
						<a href="/dianshiju/?area=<?$v?>" target="_blank"><?$v?></a>
					<?end?>
					<?if eq $.detail.sct "100" ?>
						<a href="/dongman/?area=<?$v?>" target="_blank"><?$v?></a>
					<?end?>
					<?if eq $.detail.sct "85"?>
						<a href="/zongyi/?area=<?$v?>" target="_blank"><?$v?></a>
					<?end?>
					
				<?end?>
			</dd>
          </dl>
          <dl class="fn-left">
            <dt>语言：</dt>
            <dd>
				<?range $k, $v := .detail.audiolang?>
					<span><?$v.lang?></span>
				<?end?>

			</dd>
          </dl>
          <dl class="fn-right">
            <dt>导演：</dt>
            <dd>
				<a href="/search/.detail.director" target="_blank"><?.detail.director?></a>
			</dd>
          </dl>
          <dl class="fn-left">
            <dt>更新：</dt>
            <dd><span id="addtime"><?.detail.stripe_bottom?></span></dd>
          </dl>
          <dl class="fn-right">
            <dt>上映：</dt>
            <dd><span><?.detail.releasedate?></span></dd>
          </dl>
          <dl class="juqing">
            <dt>剧情：</dt>
            <dd>
				<?.detail.desc?>
				
			</dd>
          </dl>
        </div>
      </div>
      
    </div>
   
  </div>

    <div class="ui-box" id="detail-list"><a name=""></a>
    	<div class="play-list-box" id="tyiyun-pl-list" >
          
			<div class="caption fn-clear">
	            <h2><strong>资源列表</strong></h2>
	
	            <div class="order">排序：<a class="desc" href="javascript:void(0);" switch="con-tyiyun-1">降序</a></div>
	        </div>

          	<div class="content">
            	<ul class="play-list" id="con-tyiyun-1">
					<?range $k, $v := .list?>
  						<a href="/play/<?$v.videoid?>"><?$v.title?>                
							<?if eq $v.is_new "1"?><span class="new">new</span> <?end?>               
						</a>  
					<?end?>
        
				</ul>
          	</div>
	    </div>

		
	</div>

 
<div style="display:none">
  <div id="detail-intro">
    <div class="ui-dialog-cnt">
      <div class="detail-desc-cnt">
        <p>宋朝年间一众爱国人士用踢球对抗奸臣外敌，皇亲贵胄、土匪山贼、武林高手纷纷出镜，组成史上最多元球队，怀抱国仇家恨完成了中国历史上第一次国际球赛。祥云国奸臣当道，远方异能战队来袭，为避免割地求和，朝廷召集中原各大门派掌门联手，与鹰爪盟超能蹴鞠队决一死战。... </p>
      </div>
    </div>
  </div>
</div>
