@charset "utf-8";
.asks-explain {
	background-color:rgba(236,84,87,0.15);
	height:140px;
}
.asks-explain .title {
	font-size: 17px;
}
.bids-explain {
	background-color:rgba(58,135,173,0.15);
	height:140px;
}

.bids-explain .title {
	font-size: 15px;
	color:#F00;
}
.btn-30 {
	height:30px !important;
	padding-top:3px !important;
}
.panel-explain {
	background: -webkit-linear-gradient(top, white, #cccccc);
}

.text-explain {
	height:25px;
	width:40px;
	margin:0 5px;
}

