<form class="form-horizontal" role="form" data-ng-submit="save()">

<div class="modal-header" id="draggable_1" draggable>
	<h3  id="draggable_2">
		{{ title }}
		<i class="fa fa-times close" ng-click="cancel()" ></i>
	</h3>
</div>

<div class="modal-body">

	<div class="row">
	    <div class="col-lg-12">
	      	<div class="panel panel-default">

		        <div class="panel-body">
		
		            <table class="table table-hover">
		                <thead>
			                <tr>
								<th>结款时间</th>
								<th>结算账户</th>
								<th>金额</th>
								<th>操作人</th>
								<th>备注</th>
			                </tr>
		                </thead>
		                <tbody>
			               <tr ng-repeat="item in editData">
								<td><span>{{item.CreateTime * 1000 | date:'yyyy-MM-dd HH:mm'}}</span></td>
								<td><span>{{item.AccountId|arrayAttr:account.Items:'Name'}}</span></td>
								<td ng-if="item.Income>0"><span>{{item.Income  | currency: '¥'}}</span></td>
								<td ng-if="item.Outgoing>0"><span>{{item.Outgoing  | currency: '¥'}}</span></td>
								<td><span>{{item.AdminId|arrayAttr:config.Admin:'Name'}}</span></td>
								<td><span>{{item.Note}}</span></td>

							</tr>
		                
		                </tbody>
		            </table>
		
		
		        </div>
	    	</div>

    	</div>
  	</div>
											
</div>

</form>

