
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="App" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>免费在线电影,电视剧</title>
<meta name="keywords" content="普鹰影视,最新电视剧,电影下载,最新电影,2017最新电影,好看的电视剧,好看的电影,在线电影,在线电视剧,你懂得,免费电影,免费电视剧">
<meta name="description" content="普鹰影视网提供韩国电视剧、TVB最新电视剧、美剧排行榜前十名、韩剧、日剧、泰国电视剧国语版全集、综艺节目在线观看，每天第一时间更新最近好看的电影,电视剧,你懂得网站！">
<link type="text/css" rel="stylesheet" href="/static/css/base.css" />
<link type="image/x-icon" rel="icon" href="/favicon.ico">
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/function.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/index.css"/>

<script src="/static/js/angular1.4.6.min.js"></script>

<script language="javascript">
<!-- 
 window.onerror=function(){return true;} 
// -->
</script>
<script language="javascript">
	var Root='/';
	var Sid='';
	var Cid='';
	var Id='';

</script>

<base target="_blank" />
</head>
<body>
<div id="header">
	 <div id="headbar">
    <div class="layout fn-clear">
      <div id="logo"><a href="/"><img src="/static/images/logo.png" alt="普鹰影视" /></a></div>
      <div id="searchbar">
        <div class="ui-search">
          <form id="search" name="search"  method="POST" action="/search" onSubmit="return qrsearch();">
            <input type="text" id="wd" name="wd" class="search-input" value="请在此处输入影片片名或演员名称。" onfocus="if(this.value=='请在此处输入影片片名或演员名称。'){this.value='';}" onblur="if(this.value==''){this.value='请在此处输入影片片名或演员名称。';};" />
            <input type="submit" id="searchbutton"  class="search-button" value="" />
          </form>
        </div>
        <div class="hotkeys"> 
			<?range $_k, $_v := .hot_search_1?>
				<?range $k, $v := $_v.rank?>
					<?if  lt $k 5?>
						<a href="/search/<?$v.keyword?>" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>><?$v.keyword?></a>
					<?end?>
				<?end?>
			<?end?>

		</div>
      </div>
      <ul id="tbmov-plus">
        <li><a href="javascript:alert('开发中');"><i class="ui-icon new-icon"></i>最近<br>更新</a></li>
        <li><a href="javascript:alert('开发中');"><i class="ui-icon top-icon"></i>影片<br>排行</a></li>
        <li><a href="javascript:alert('开发中');"><i class="ui-icon help-icon"></i>会员<br>帮助</a></li>
        <li><a href="javascript:alert('开发中');"><i class="ui-icon gb-icon"></i>留言<br>反馈</a></li>
        <li><a rel="nofollow" target="_self" id="a-clo" href="javascript:void(0);" onclick="fav();"><i class="ui-icon fav-icon"></i>收藏<br>本站</a></li>
      </ul>
      <script type="text/javascript">
				function fav(){
					URL='/';title='普鹰影视';
					try{ 
						window.external.addFavorite(URL, title);  
					}catch (e){ 
						try {
							window.sidebar.addPanel(title, URL, ""); 
						}catch (e){ 
							alert("加入收藏失败，请使用Ctrl+D进行添加");
						}
				}	}
			</script> 
    </div>
  </div>
  <div id="nav" class="clearfix">
    <ul>
      	<li <?if eq .type "index"?>class="current"<?end?>><a href="/" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>首页</a></li>
      	<li <?if eq .type "dianshiju"?>class="current"<?end?>><a href="/dianshiju/" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>电视剧</a></li>
		<li <?if eq .type "dianying"?>class="current"<?end?>><a href="/dianying/" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>电影</a></li>
		<li <?if eq .type "dongman"?>class="current"<?end?>><a href="/dongman/" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>动漫</a></li>
		<li <?if eq .type "zongyi"?>class="current"<?end?>><a href="/zongyi/" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>综艺</a></li>
		<li <?if eq .type "gaoxiao"?>class="current"<?end?>><a href="/gaoxiao/" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>搞笑</a></li> 
      	<li <?if eq .type "game"?>class="current"<?end?>><a href="/game/" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>><span style="color:#F90">游戏专题</span></a></li>
     
	<!--
	    <li id="nav-history"><a href="javascript:void(0);">观看记录</a>
	        <div class="drop-box">
	          <div class="looked-list">
	            <p><a class="close-his" target="_self" href="javascript:;">关闭</a><a href="javascript:;" id="emptybt" data="1" target="_self">清空全部播放记录</a></p>
	            
				<ul class="highlight" id="playhistory">
					<li>
						<h5><a href="/dongzuopian/shuaijiaobababa/">摔跤吧爸爸</a><em>/</em><a target="_blank" href="http://www.haojihaokan.com/index.php?s=vod-play-id-37629-sid-0-pid-1.html">高清正版</a></h5><label><a class="color" target="_blank" href="http://www.haojihaokan.com/index.php?s=vod-play-id-37629-sid-0-pid-1.html">继续观看</a></label><a href="javascript:;" class="delck" data="0" mtype="inck" title="删除"></a>
					</li>
				</ul>


	            <div class="his-todo" id="morelog" style="display:none;"></div>
	            <div class="his-todo" id="his-todo"><a rel="nofollow" target="_blank" class="show-login-dialog" href="/index.php?s=User-Center-login">登录</a>后将能永久保存播放记录<em>|</em><a rel="nofollow" target="_blank"  href="/index.php?s=User-Center-reg">免费注册</a></div>
	          </div>
	          <script type="text/javascript">PlayHistoryObj.viewPlayHistory('playhistory');</script> 
	        </div>
	    </li>

      	<li id="nav-user"><a href="javascript:void(0);">用户登陆</a>
	      <div class="drop-box" id="nav-signin">
	        <form id="loginform" action="/index.php?User-center-login" method="post" onsubmit="return false;">
	          <div class="ui-form ui-signin">
	            <div class="ui-form-item ui-form-placeholder">
	              <label class="ui-label" for="username" style="z-index: 3;"></label>
	              <input type="text" id="username" name="username" class="ui-input" value="">
	            </div>
	            <div class="ui-form-item ui-form-placeholder">
	              <label class="ui-label" for="password" style="z-index: 3;"></label>
	              <input type="password" id="password" name="password" maxlength="20" class="ui-input" value="">
	              <a class="ui-icon forgot-psw" title="忘记密码" href="/index.php?s=user-center-forgetpwd.html">忘记密码</a>
	            </div>
	            <div class="ui-form-item fn-clear">
	              <label class="ui-label">&nbsp;</label>
	              <label for="agreement" class="ui-label-checkbox">
	              <input type="checkbox" value="" name="cookietime" id="cookietime" checked="checked">
	              <input type="hidden" name="notforward" id="notforward" value="1">
	              <input type="hidden" name="dosubmit" id="dosubmit" value="1">记住我的登录 </label>
	              <input type="submit" id="loginbt" class="ui-button" value="登 录">
	            </div>
	          </div>
	          <div class="signin-assist fn-clear">
	            <a class="ui-icon qq-login" href="/index.php?s=user-center-qqlogin.html">用QQ帐号登录</a>
	            <p><a href="/index.php?s=user-center-reg.html" target="_blank" class="reg-btn">还没有账号?</a></p>
	          </div>
	        </form>
	      </div>
      	</li>
		-->
    </ul>
  </div>
  <div id="nav-under" class="clearfix">
    <ul>
      <li><strong><a href="/dianying/" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>电影</a></strong></li>
      <li>|</li>
      <li><a href="/dianying/?movie_genre=喜剧" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>喜剧片</a></li><li>|</li>
      <li><a href="/dianying/?movie_genre=动作" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>动作片</a></li><li>|</li>
      <li><a href="/dianying/?movie_genre=科幻" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>科幻片</a></li><li>|</li>
      <li><a href="/dianying/?movie_genre=恐怖" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>恐怖片</a></li><li>|</li>
      <li><a href="/dianying/?movie_genre=爱情" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>爱情片</a></li><li>|</li>
      <li><a href="/dianying/?movie_genre=战争" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>战争片</a></li><li>|</li>
      <li><a href="/dianying/?movie_genre=剧情" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>剧情片</a></li><li>|</li>
      <li><a href="/dianying/?movie_genre=纪录片" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>纪录片</a></li><li>|</li>
      <li><a href="/dianying/?movie_genre=动画" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>动画片</a></li>      
	  <li><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/dianshiju/">电视剧</a></strong></li>
      <li>|</li>
      <li><a href="/dianshiju/?area=大陆" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>国产剧</a></li><li>|</li>
      <li><a href="/dianshiju/?area=美国" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>欧美剧</a></li><li>|</li>
      <li><a href="/dianshiju/?area=韩国" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>韩国剧</a></li><li>|</li>
      <li><a href="/dianshiju/?area=香港" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>香港剧</a></li><li>|</li>
      <li><a href="/dianshiju/?area=台湾" <?if eq $.type "index"?>target="_blank"<?else?>target="_self"<?end?>>台湾剧</a></li><li>|</li>

  </div>
</div>

<?.LayoutContent?>

<div class="footer">
	<div class="layout">
	<!--
	    <div class="foot-nav">
			<a href="/gb-show-p-1.html" target="_blank" title="给我留言">给我留言</a>-
			<a href="/new.html" target="_blank" title="最新更新">最新更新</a>-
			<a href="/sitemap.html" target="_blank" title="网站地图">网站地图</a>-
			<script src="https://s11.cnzz.com/z_stat.php?id=1258209498&web_id=1258209498" language="JavaScript"></script>
		</div>
	-->
	    <div class="copyright">
	      	<p>本网站提供的最新电视剧和电影资源均系收集于各大视频网站，本网站只提供web页面服务，并不提供影片资源存储，也不参与录制、上传</p>
	      	<p>若本站收录的节目无意侵犯了贵司版权，请<a href="mailto:43943634@qq.com">点此</a>联系管理员，我们会及时处理和回复，谢谢</p>
			<p>Copyright &#169; 2016-2018  
				<font face="Verdana, Arial, Helvetica, sans-serif">
					<a href="http://movie.wememe.cn">普鹰影视</a>
				</font>
			</p>
	    </div>
	</div>
</div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?14bc14e0fe9e2fc234b78970c47dfa2d";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


</body>
</html>